:root {
  --bg-color: #242424;
  --font-color: #f2f2f2;
  --container-color: #1c1c1c;
  --result-container-color: black;
  --p-color: #a3a3a3;
  --decoration-color: #8c8c8c;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", arial;
}

*,
::after,
::before {
  box-sizing: inherit;
  transition: 0.3s ease;
}

header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--bg-color);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 2.2rem;
  padding: 10px;
}

.container {
  background-color: var(--container-color);
  padding: 20px;
  border-radius: 10px;
  color: var(--font-color);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.result {
  background-color: var(--result-container-color);
  width: 80%;
  height: 10%;
  color: var(--font-color);
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.parameters {
  width: 80%;
  margin: 20px auto 0 auto;
}

.parameter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

p {
  text-align: center;
  margin-top: -10px;
  color: var(--p-color);
}

button {
  padding: 10px;
  display: block;
  margin: 20px auto 0 auto;
  width: 40%;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  transition: 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: var(--decoration-color);
}

.decoration {
  color: var(--decoration-color);
}

.theme-toggle {
  margin: 20px;
}

.theme-toggle:hover {
  cursor: pointer;
  fill: white;
}

html[data-theme="light"] {
  --bg-color: #ffffff;
  --font-color: #1a1a1a;
  --container-color: #f0f0f0;
  --result-container-color: #eeeeee;
  --p-color: #555555;
  --decoration-color: #737373;
}

#copy-button:hover {
  cursor: pointer;
  fill: white;
}

.hidden-text{
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  transform: translateY(-10px);
}

.show{
  opacity:1;
  visibility: visible;       
  transform: translateY(0); 
}

input[type="number"]{
  border-radius:10px;
  padding:5px;
  border:none;
  appearance: textfield;
  text-align: center;
}

#nums, #symbols, #lower-case, #upper-case, #length{
  cursor:pointer;
}

.length-container{
  background-color:white;
  border-radius:5px;
  width:40px;
  padding:5px;
  color:black;
  text-align:center;
}